<a href="https://colab.research.google.com/github/awarbler/CSE450AWoodford/blob/main/notebooks/module01-assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
This assignment will test how well you're able to perform various data science-related tasks.

Each Problem Group below will center around a particular dataset that you have worked with before.

To ensure you receive full credit for a question, make sure you demonstrate the appropriate pandas, altair, or other commands as requested in the provided code blocks. 

You may find that some questions require multiple steps to fully answer. Others require some mental arithmetic in addition to pandas commands. Use your best judgment.

## Submission
Each problem group asks a series of questions. This assignment consists of two submissions:

1. After completing the questions below, open the Module 01 Assessment Quiz in Canvas and enter your answers to these questions there.

2. After completing and submitting the quiz, save this Colab notebook as a GitHub Gist (You'll need to create a GitHub account for this), by selecting `Save a copy as a GitHub Gist` from the `File` menu above.

    In Canvas, open the Module 01 Assessment GitHub Gist assignment and paste the GitHub Gist URL for this notebook. Then submit that assignment.

## Problem Group 1

For the questions in this group, you'll work with the Netflix Movies Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv)

### Question 1
Load the dataset into a Pandas data frame and determine what data type is used to store the `release_year` feature.

In [6]:
import pandas as pd
netflix = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv')
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

There is missing data in fields for the following columns.

*   director, cast, country, date_added

Int is used for release_year

### Question 2
Filter your dataset so it contains only `TV Shows`. How many of those TV Shows were rated `TV-Y7`?

In [34]:
netflix.head(2)
tvShow = netflix[ netflix['type'] == 'TV Show']
tvShow.head(2)
len(tvShow) #1969
tvShow['rating'].value_counts # or len(tvShows) get the tv ratings

<bound method IndexOpsMixin.value_counts of 2       TV-Y7-FV
3          TV-Y7
5          TV-MA
8          TV-MA
26         TV-14
          ...
6228        TV-Y
6229          NR
6230       TV-MA
6232       TV-MA
6233       TV-14
Name: rating, Length: 1969, dtype: object>

In [36]:
# create a list of rating to filter the tvshows list
tvRating = ['TV-Y','TV-Y7','TV-Y7-FV','TV-G','TV-PG','TV-14', 'TV-MA','NR']
tvRating

['TV-Y', 'TV-Y7', 'TV-Y7-FV', 'TV-G', 'TV-PG', 'TV-14', 'TV-MA', 'NR']

In [37]:
# create a dataframe to select a new subset containing the needed tv ratings
# If we missed any mappings, they will show up as a NaN value (Not a Number), 
# so we'll do a quick value_counts on our new column to check
tvRateCnt = tvShow[tvShow['rating'].isin(tvRating)]
tvRateCnt 
tvRateCnt['rating'].value_counts()

TV-MA       679
TV-14       660
TV-PG       269
TV-Y        102
TV-Y7       100
TV-G         69
TV-Y7-FV     68
NR           16
Name: rating, dtype: int64

### Question 3
Further filter your dataset so it only contains TV Shows released between the years 2000 and 2009 inclusive. How many of *those* shows were rated `TV-Y7`?

In [58]:
tvRateCnt['release_year'].value_counts
tvYears = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]
tvYears
rateByYear = tvRateCnt[tvRateCnt['release_year'].isin(tvYears)]
rateByYear.head(2)
rateByYear['release_year'].value_counts()

2009    34
2008    20
2005    12
2007    11
2006     9
2004     9
2003     8
2001     4
2002     3
2000     3
Name: release_year, dtype: int64

## Problem Group 2

For the questions in this group, you'll work with the Cereal Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv)

### Question 4
After importing the dataset into a pandas data frame, determine the median amount of `protein` in cereal brands manufactured by Kelloggs. (`mfr` code "K")

In [63]:
import pandas as pd
cereal = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv')
cereal
# or run the above like 
cereal.head(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679

In [64]:
# Then display a technical summary of the data to determine
# the data types of each column, and which columns have missing data.
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [66]:
# look at MFR first to see what is in it and its appearance and to figure out if ther is a kelloggs
cereal['mfr']

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

In [73]:
# Note: While the tutorial linked above uses the replace function, 
# using the map function instead can often be much faster and more 
# memory efficient, especially for large datasets. 
# Display the count of values for the manufacturer code ("mfr" column), then 
# create a new column containing the appropriate manufacturer names.
cereal['mfr_name'] = cereal['mfr'].map({
    'A': 'American Home Food Products',
    'G': 'General Mills',
    'K': 'Kelloggs',
    'N': 'Nabisco',
    'P': 'Post',
    'Q': 'Quaker Oats',
    'R': 'Ralston Purina'
})
# If we missed any mappings, they will show up as a NaN value (Not a Number), 
# so we'll do a quick value_counts on our new column to check
cereal['mfr_name'].value_counts()

Kelloggs                       23
General Mills                  22
Post                            9
Quaker Oats                     8
Ralston Purina                  8
Nabisco                         6
American Home Food Products     1
Name: mfr_name, dtype: int64

In [74]:
# isolate Kelloggs Cereal 
kelloggs = cereal[cereal['mfr_name']== 'Kelloggs']
kelloggs.head(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,mfr_name
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,Kelloggs
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,Kelloggs

In [77]:
kelloggs.describe()
# Part 2: Enter your code below to calculate summary statistics for the 
# protein features.
kelloggs[['protein']].describe()

         protein
count  23.000000
mean    2.652174
std     1.070628
min     1.000000
25%     2.000000
50%     3.000000
75%     3.000000
max     6.000000

### Question 5
In order to comply with new government regulations, all cereals must now come with a "Healthiness" rating. This rating is calculated based on this formula:

    healthiness = (protein + fiber) / sugar

Create a new `healthiness` column populated with values based on the above formula.

Then, determine the median healthiness value for only General Mills cereals (`mfr` = "G"), rounded to two decimal places.

In [196]:
from pandas._libs.tslibs.fields import RoundTo
#Create a new healthiness column populated with values based on the above formula
import numpy as np

cereal['healthiness'] = (cereal['protein'] + cereal['fiber']) / cereal['sugars']                      

cereal.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,mfr_name,healthiness
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,Nabisco,2.333333
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,Quaker Oats,0.625000
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,Kelloggs,2.600000
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,Kelloggs,inf
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,Ralston Purina,0.375000

In [197]:
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         77 non-null     object
 1   mfr          77 non-null     object
 2   type         77 non-null     object
 3   calories     77 non-null     int64
 4   protein      77 non-null     int64
 5   fat          77 non-null     int64
 6   sodium       77 non-null     int64
 7   fiber        77 non-null     float64
 8   carbo        77 non-null     float64
 9   sugars       77 non-null     int64
 10  potass       77 non-null     int64
 11  vitamins     77 non-null     int64
 12  shelf        77 non-null     int64
 13  weight       77 non-null     float64
 14  cups         77 non-null     float64
 15  rating       77 non-null     float64
 16  mfr_name     77 non-null     object
 17  healthiness  77 non-null     float64
dtypes: float64(6), int64(8), object(4)
memory usage: 11.0+ KB

In [207]:
#determine the median healthiness value for only General Mills 

mfrG = cereal[cereal['mfr']== 'G']
mfrG
len(mfrG)
mfrG['healthiness'].median()
mfrGRound = round(mfrG['healthiness'].median(),2)
mfrGRound

0.48

The following ways did not work 
* cereals (mfr = "G"), rounded to two decimal places.
* decided not to isolate instead grouped mfr by G
* cereal.groupby(['mfr']).get_group('G')
* decided to group mfr and get G then the * median of healthiness 
* this matches the above info. 
* cereal.groupby(['mfr']).get_group('G')['healthiness'].median().475
* best way so far cereal[['mfr', 'healthiness']].groupby('mfr').median()

## Problem Group 3

For the questions in this group, you'll work with the Titanic Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv)

### Question 6

After loading the dataset into a pandas DataFrame, create a new column called `NameGroup` that contains the first letter of the passenger's surname in lower case.

Note that in the dataset, passenger's names are provided in the `Name` column and are listed as:

    Surname, Given names

For example, if a passenger's `Name` is `Braund, Mr. Owen Harris`, the `NameGroup` column should contain the value `b`.

Then count how many passengers have a `NameGroup` value of `k`.

In [209]:
import pandas as pd
import numpy as np

titanic = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

create a new column called NameGroup that contains the first letter of the passenger's surname in lower case.

In [242]:
# create a new column called NameGroup that contains the 
# first letter of the passenger's surname in lower case.
titanic['NameGroup'] = titanic['Name'].str[0].str.lower()
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NameGroup
0,1,No,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,b
1,2,Yes,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,c

In [243]:
# Then count how many passengers have a NameGroup value of k.
titanic['NameGroup'].value_counts()

s    86
m    74
b    72
h    69
c    69
a    51
l    48
p    47
d    43
r    41
g    41
w    33
f    31
t    30
j    30
n    29
k    28
o    23
v    15
e    12
y     7
i     6
z     3
q     2
u     1
Name: NameGroup, dtype: int64

In [258]:
# Then count how many passengers have a NameGroup value of k.
#titanic.groupby(['NameGroup']).get_group('k').count()
countK = titanic[titanic['NameGroup'] == 'k']
countK['NameGroup'].value_counts()

k    28
Name: NameGroup, dtype: int64